.home-bg {
    height: 95vh;
    background-color: rgb(255, 255, 255);
}
.splash-block {
    text-align: center;
    margin-top: 5em;
}
.splash-img {
    height: 32em;
    border: 0.15em solid rgb(69, 128, 133);
}
.home-title-text {
    cursor: pointer;
    /* text-shadow: 0.1em 0.1em grey; */
    color: white;
    text-align: center;
    margin-top: 0.55em;
    border: 1px solid rgb(72, 107, 110);
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    background-color:  rgb(72, 107, 110);
}
.home-title-tag-text {
    /* color: rgb(72, 107, 110); */
    color: white;
    background-color: rgb(72, 107, 110);
    padding: 0.75em;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.75em;
}
@font-face {
    font-family: hyper;
    src: url("../fonts/hyperspace/Hyperspace.otf");
}

h1, h2, h3, h4 {
    font-family: hyper;
}